= render "recommendations"

%article{id: @example.url, class: 'special-pages'}
  %h1.lined= t("enumerize.special_page.url.#{@example.url}")
  %section.special-pages-content.row
    - @pages.in_groups_of(2, false) do |pages_row|
      .col-md-6
        - pages_row.each do |page|
          .special-page.row
            .col-md-6
              .thumbnail= image_tag(page.image_url(:special_page))
            .col-md-6
              .caption= raw(page.content)

