- content_for :image do
  = image_tag 'advantages.png'

- content_for :secondary_navigation do
  %section{class: 'secondary-nav', id: 'main'}
    %section.unit
      = link_to_unless_current 'о нас', root_path
    %section.unit
      = link_to_unless_current 'наши преимущества', friendly_advantages_path
    %section.unit
      = link_to_unless_current 'свадьбы', friendly_wedding_path
    %section.unit
      = link_to_unless_current 'юбилеи', friendly_anniversary_path
    %section.unit
      = link_to_unless_current 'корпоративные мероприятия', friendly_corporate_path
    %section.unit
      = link_to_unless_current 'выпускные вечера', friendly_prom_path

%article#advantages
  %h1.lined
    %span НАШИ ПРЕИМУЩЕСТВА
  %section#list-of-advantages
    %div
      %figure= image_tag 'circle.png'
      %span Наш основной зал вмещает до 100 гостей
    %div
      %figure= image_tag 'circle.png'
      %span Самый светлый и уютный зал в городе
    %div
      %figure= image_tag 'circle.png'
      %span Наши залы оснащены  кондиционерами, которые создадут в помещении приятную атмосферу
    %div
      %figure= image_tag 'circle.png'
      %span{itemprop: 'servesCuisine'} По-домашнему вкусная кухня, все Ваши гости останутся сытыми и довольными
    %div
      %figure= image_tag 'circle.png'
      %span Все алкогольные и безалкогольные напитки, мясную нарезку и фрукты Вы можете принести с собой без дополнительных оплат
    %div
      %figure= image_tag 'circle.png'
      %span Особые условия для владельцев клубных карт
  %section#list-of-advantages
    %div
      %figure= image_tag 'circle.png'
      %span Зал имеет неограниченные возможности для декорирования
    %div
      %figure= image_tag 'circle.png'
      %span В Вашем распоряжении фуршетный зал для гостей
    %div
      %figure= image_tag 'circle.png'
      %span У нас есть отдельный зал для проведения Вашей выездной регистрации
    %div
      %figure= image_tag 'circle.png'
      %span Время работы зала всегда можно продлить хоть до утра
    %div
      %figure= image_tag 'circle.png'
      %span При заказе банкета от 70 человек, чехлы на стулья мы предоставляем бесплатно
    %div
      %figure= image_tag 'circle.png'
      %span Возможность провести банкет без оплаты аренды зала с воскресенья по четверг, кроме праздничных и предновогодних дней
