- content_for :image do
  = image_tag 'anniversary.png'

- content_for :secondary_navigation do
  %section{class: 'secondary-nav', id: 'main'}
    %section.unit
      = link_to_unless_current 'о нас', root_path
    %section.unit
      = link_to_unless_current 'наши преимущества', friendly_advantages_path
    %section.unit
      = link_to_unless_current 'свадьбы', friendly_wedding_path
    %section.unit
      = link_to_unless_current 'юбилеи', friendly_anniversary_path
    %section.unit
      = link_to_unless_current 'корпоративные мероприятия', friendly_corporate_path
    %section.unit
      = link_to_unless_current 'выпускные вечера', friendly_prom_path

%article#anniversary
  %h1.lined
    %span ЮБИЛЕЙ
  %p
    Важное событие в жизни каждого человека, которое празднуют по особым поводам:
  %p
    день рождения, день свадьбы, день основания фирмы.
  %p
    Дорогие гости не меньше самого виновника праздника рады этому торжеству.
  %p
    Каждый из них мечтает выразить свое уважение и любовь, подарить подарки.
  %p
    Конечно, необходимо, чтобы место для юбилея соответствовало этому важному событию.
  %p
    Банкет Холл Клеопатра организует праздничное мероприятие для коллег по работе или для узкого семейного круга.
  %p
    Сотрудники Банкет Холл с удовольствием возьмут на себя обязанности по торжественному оформлению столов
  %p
    и подготовке индивидуального меню. А у именинника непременно останутся самые приятные впечатления о своем юбилее.