- content_for :image do
  :javascript
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        speed: 1000,
        mode: 'fade',
        captions: true,
        adaptiveHeight: true,
        prevText: '<i class="fa fa-chevron-circle-left"></i>',
        nextText: '<i class="fa fa-chevron-circle-right"></i>',

      })
    });
  %section.slider
    %ul.bxslider
      %li= image_tag '1.png', alt: 'Банкетный зал в банкет-холле Клеопатра'
      %li= image_tag '2.png', alt: 'Юбилей в банкет-холле Клеопатра'
      %li= image_tag '3.png', alt: 'Выпускной в банкет-холле Клеопатра'
      %li= image_tag '4.png', alt: 'Свадьба в банкет-холле Клеопатра'
      %li= image_tag '5.png', alt: 'Корпоратив в банкет-холле Клеопатра'
      %li= image_tag '6.png', alt: 'Банкетный зал в банкет-холле Клеопатра'
      %li= image_tag '7.png', alt: 'Выездная регистрация в банкет-холле Клеопатра'
      %li= image_tag '8.png', alt: 'Выездная регистрация в банкет-холле Клеопатра'

- content_for :secondary_navigation do
  %section{class: 'secondary-nav', id: 'main'}
    %section.unit
      = link_to_unless_current 'о нас', root_path
    %section.unit
      = link_to_unless_current 'наши преимущества', friendly_advantages_path
    %section.unit
      = link_to_unless_current 'свадьбы', friendly_wedding_path
    %section.unit
      = link_to_unless_current 'юбилеи', friendly_anniversary_path
    %section.unit
      = link_to_unless_current 'корпоративные мероприятия', friendly_corporate_path
    %section.unit
      = link_to_unless_current 'выпускные вечера', friendly_prom_path

%article#welcome
  %section.info
    %section.wrapper
      %div.about
        %div.left
        %h1
          О НАС
        %div.right
        %div.special
      %p
        %span{itemprop: 'name'}
          Банкет холл «Клеопатра»
        \- это современное место для проведения праздничных мероприятий на высшем уровне.
      %p
        Светлый интерьер нашего зала, выполненный в египетском стиле, подходит как для пышных свадеб, семейных юбилеев, корпоративов и выпускных, так и для деловых презентаций и ярких детских праздников.
      %p
        Наши сотрудники имеют более 15 лет опыта проведения банкетов любой сложности.
      %p
        А шеф-повар индивидуально подберет для Вас особое меню.
      %p
        Будем рады видеть Вас!

    %section.booking
      %h1
        БЛИЖАЙШИЕ СВОБОДНЫЕ ДАТЫ
      %section.friday
        %section.figure
          = image_tag 'friday.png'
        %section.date1
          11 июля 2014
        %section.date2
          22 августа 2014

      %section.saturday
        %section.figure
          = image_tag 'saturday.png'
        %section.date1
          13 сентября 2014
        %section.date2
          20 сентября 2014
  %section.call-to-action
    %div
      КАК ЗАКАЗАТЬ БАНКЕТ
    %div
      КАК НАС НАЙТИ
