- content_for :image do
  :javascript
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        speed: 1000,
        mode: 'fade',
        captions: true,
        adaptiveHeight: true,
        prevText: '<i class="fa fa-chevron-circle-left"></i>',
        nextText: '<i class="fa fa-chevron-circle-right"></i>',

      })
    });
  %section.slider
    %ul.bxslider
      %li= image_tag '1.png', alt: 'Банкетный зал в банкет-холле Клеопатра'
      %li= image_tag '2.png', alt: 'Юбилей в банкет-холле Клеопатра'
      %li= image_tag '3.png', alt: 'Выпускной в банкет-холле Клеопатра'
      %li= image_tag '4.png', alt: 'Свадьба в банкет-холле Клеопатра'
      %li= image_tag '5.png', alt: 'Корпоратив в банкет-холле Клеопатра'
      %li= image_tag '6.png', alt: 'Банкетный зал в банкет-холле Клеопатра'
      %li= image_tag '7.png', alt: 'Выездная регистрация в банкет-холле Клеопатра'

= render "secondary_nav"

%article#welcome
  %h1.lined
    о нас
  %section.info
    %p
      %span{itemprop: 'name'}
        Банкет холл «Клеопатра»
      \- это современное место для проведения праздничных мероприятий на высшем уровне.
    %p
      Светлый интерьер нашего зала, выполненный в египетском стиле, подходит как для пышных свадеб, семейных юбилеев, корпоративов и выпускных, так и для деловых презентаций и ярких детских праздников.
    %p
      Наши сотрудники имеют более 15 лет опыта проведения банкетов любой сложности.
    %p
      А шеф-повар индивидуально подберет для Вас особое меню.
    %p
      Будем рады видеть Вас!

  %section.booking
    %h1
      БЛИЖАЙШИЕ СВОБОДНЫЕ ДАТЫ
    %section.friday
      %section.figure
        = image_tag 'friday.png'
      %section.date
        22 августа 2014
      %section.date
        5 сентября 2014

    %section.saturday
      %section.figure
        = image_tag 'saturday.png'
      %section.date
        4 октября 2014
      %section.date
        11 октября 2014


  %section.call-to-action
    %div
      = link_to "КАК ЗАКАЗАТЬ БАНКЕТ", friendly_order_path
    %div
      = link_to "КАК НАС НАЙТИ", friendly_contacts_path
