- content_for :image do
  = image_tag 'prom.png'

- content_for :secondary_navigation do
  %section{class: 'secondary-nav', id: 'main'}
    %section.unit
      = link_to_unless_current 'о нас', root_path
    %section.unit
      = link_to_unless_current 'наши преимущества', friendly_advantages_path
    %section.unit
      = link_to_unless_current 'свадьбы', friendly_wedding_path
    %section.unit
      = link_to_unless_current 'юбилеи', friendly_anniversary_path
    %section.unit
      = link_to_unless_current 'корпоративные мероприятия', friendly_corporate_path
    %section.unit
      = link_to_unless_current 'выпускные вечера', friendly_prom_path

%article#prom
  %h1
    ВЫПУСКНЫЕ ВЕЧЕРА
  %p
    Церемония, связанная с окончанием учебного заведения.
  %p
    Это знаменательная дата, как для самих выпускников, так и для их родителей, большой шаг в новую жизнь.
  %p
    Выпускной бал для многих является одним из самым памятных вечеров в жизни.
  %p
    Банкет холл Клеопатра современное место для проведения торжественной и развлекательной программы выпускного бала.
  %p
    Сотрудники Банкет холл Клеопатра организуют закрытое мероприятие, обеспечат безопасность всех гостей,
  %p
    подберут лучшее меню для выпускников и порадуют отличным обслуживанием.
