- content_for :image do
  = image_tag 'service/serving.png'

- content_for :secondary_navigation do
  = render "secondary_nav"

%article#serving
  %h1.lined
    сервировка
  %p
    Банкет холл Клеопатра внимательно относится к такому элементу праздника, как сервировка столов.
  %p
    Вы можете быть уверены в том, что все блюда без труда поместятся на банкетных столах, так как они сделаны по нестандартным размерам.
  %p
    Все необходимые элементы праздничного стола будут находиться на своих местах, в соответствии с требованиями сервировки.
  %p
    Наши сотрудники предложат на выбор разные цветовые гаммы скатертей и салфеток.

  %section.serving
    %section.info
      %section.napkins
        %h1
          САЛФЕТКИ и СКАТЕРТИ:
        %section.napkin
          %section.figure
            = image_tag 'service/serving/white_circle.png'
          %section.text
            белые
        %section.napkin
          %section.figure
            = image_tag 'service/serving/beige_circle.png'
          %section.text
            бежевые
        %section.napkin
          %section.figure
            = image_tag 'service/serving/burgundy_circle.png'
          %section.text
            бордовые

      %section.toppers
        %h1
          НАПЕРОНЫ:
        %section.topper
          %section.figure
            = image_tag 'service/serving/burgundy_circle.png'
          %section.text
            бордовые

    %section.illustration
      = image_tag 'service/serving/burgundy_topper.png'

  %section.map
    %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.1928763335336!2d58.96343300000001!3d53.357702999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d12e6c6b302c1b%3A0xbd78f17530a757d2!2z0YPQuy4g0KHQvtCy0LXRgtGB0LrQsNGPLCAyMDksINCc0LDQs9C90LjRgtC-0LPQvtGA0YHQuiwg0KfQtdC70Y_QsdC40L3RgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sru!4v1404883585824", :style => "border:0", :width => "600"}