- content_for :image do
  = image_tag 'egyptian_hall.png'

%article#egyptian_hall
  %h1
    ЕГИПЕТСКИЙ ЗАЛ
  %p
    Дизайн зала выполнен в стилистике легкого Египта. Основной тон его оформления – бежево-коричневый, такой фон
  %p
    позволяет проявить фантазию в оформлении помещения. Вы не будете ограничены в выборе цветовой гаммы или стилистической палитры.
  %p
    Планировка зала имеет множество вариантов расстановки посадочных мест для Ваших гостей.
  %p
    По периметру зала расположены широкие окна, что без сомнения делает зал  светлым и торжественным,
  %p
    а в темное время суток освещение зала придаст Вашему торжеству еще больше уюта и романтики.
  %p
    Уникальная особенность Египетского зала - возможность провести в малом зале незабываемую выездную регистрацию,
  %p
    организовать отдельный танцпол или использовать его как зону отдыха Ваших гостей.

  %section.description
    %h1
      ПЛОЩАДЬ:
    %p
      180 кв.м.
    %h1.capacity
      ВМЕСТИМОСТЬ:
    %p
      банкет до 110 гостей

  %section.description
    %h1
      ПОДХОДИТ ДЛЯ ПРОВЕДЕНИЯ:
    %p
      свадеб;
    %p
      юбилеев;
    %p
      выпускных вечеров;
    %p
      корпоративных мероприятий;
    %p
      фуршетов

  %section.description
    %h1
      ВАРИАНТЫ РАССТАНОВОК:
    %p
      в любой понравившийся вариант Вы можете внести свои изменения

    = link_to(image_tag('positions/1m.png'), image_path('positions/1.png'), class: 'fancybox')
    = link_to(image_tag('positions/2m.png'), image_path('positions/2.png'), class: 'fancybox')
    = link_to(image_tag('positions/3m.png'), image_path('positions/3.png'), class: 'fancybox')
    = link_to(image_tag('positions/4m.png'), image_path('positions/4.png'), class: 'fancybox')
    = link_to(image_tag('positions/5m.png'), image_path('positions/5.png'), class: 'fancybox')
    = link_to(image_tag('positions/6m.png'), image_path('positions/6.png'), class: 'fancybox')
    = link_to(image_tag('positions/7m.png'), image_path('positions/7.png'), class: 'fancybox')
    = link_to(image_tag('positions/8m.png'), image_path('positions/8.png'), class: 'fancybox')
    = link_to(image_tag('positions/9m.png'), image_path('positions/9.png'), class: 'fancybox')
    = link_to(image_tag('positions/10m.png'), image_path('positions/10.png'), class: 'fancybox')
