- content_for :image do
  = image_tag 'feedback.png'

:javascript
  $("[data-secondary-nav=substitude]").show();


%article#feedback
  %h1.lined
    отзывы
  %section.feedback-zone
    = link_to(image_tag("feedback/1m.png"), image_path("feedback/1.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/2m.png"), image_path("feedback/2.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/3m.png"), image_path("feedback/3.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/4m.png"), image_path("feedback/4.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/5m.png"), image_path("feedback/5.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/6m.png"), image_path("feedback/6.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/7m.png"), image_path("feedback/7.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/8m.png"), image_path("feedback/8.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/9m.png"), image_path("feedback/5.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/10m.png"), image_path("feedback/10.png"), class: "fancybox-thumb", rel: "fancybox-thumb")
    = link_to(image_tag("feedback/11m.png"), image_path("feedback/11.png"), class: "fancybox-thumb", rel: "fancybox-thumb")