!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = display_meta_tags site: 'Свадьба в Магнитогорске - Банкет-холл Клеопатра', reverse: true, separator: '|', keywords: %w[банкеты свадьбы клеопатра банкет-холл юбилеи корпоративы праздники магнитогорск]

    %meta{name: 'yandex-verification', content: '6b3000b602aee379'}
    %meta{name: 'google-site-verification', content: 'GCZrZYqSRdvsJF5rnKhu8GauHneIL0gOYtRZvJixLSc'}

    - if Rails.env.production?
      - content_for :javascript do
        :javascript
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56064682-1', 'banketvkleopatre.ru');
          ga('send', 'pageview');

          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter24893432 = new Ya.Metrika({id:24893432,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true});
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");

  %body{itemscope: true, itemtype: "http://schema.org/Restaurant" }
    %header#header
      %section.shell
        %section.description
          %h1 ВАШИ
          %span СВАДЬБЫ
          %i.fa.fa-square
          %span ЮБИЛЕИ
          %i.fa.fa-square
          %span ВЫПУСКНЫЕ
          %i.fa.fa-square
          %span КОРПОРАТИВЫ

        %section.logo
          = image_tag 'logo.png', alt: 'Свадьба в Магнитогорске - Банкет-холл Клеопатра', itemprop: 'image'

        %section.address{itemscope: true, itemtype: 'http://schema.org/PostalAddress', itemprop: 'address'}
          %span{itemprop: 'telephone'}
            тел. 8
            %i.fa.fa-square
            922
            %i.fa.fa-square
            754
            %i.fa.fa-square
            4440
          %div
            %span{itemprop: 'addressLocality'}
              г. Магнитогорск
            %span{itemprop: 'streetAddress'}
              %i.fa.fa-square
              ул. Советская 209а

      %section.nav
        %section.primary-nav
          %section.element
            = active_link_to "ГЛАВНАЯ", root_path, active: [["welcome"], ["index", "advantages", "wedding", "anniversary", "corporate", "prom"]], data: {primary_nav: :link, show_secondary_nav: "main"}
          %section.element
            = active_link_to "ЗАЛЫ", friendly_egyptian_hall_path, active: [["halls"], ["egyptian_hall", "mirror_hall"]], data: {primary_nav: :link, show_secondary_nav: "halls"}
          %section.element
            = active_link_to "НАШИ УСЛУГИ", friendly_order_path, active: [["service"], ["order", "reservation", "serving", "service", "additional_service"]], data: {primary_nav: :link, show_secondary_nav: "service"}
          %section.element
            = active_link_to "НАШИ РЕКОМЕНДАЦИИ", "#", active: [["recommendations"], []], data: {primary_nav: :link, show_secondary_nav: "recommendations"}
          %section.element
            = active_link_to "ГАЛЕРЕЯ", friendly_gallery_path, active: [["gallery"], ["index"]]
          %section.element
            = active_link_to "ОТЗЫВЫ", friendly_feedback_path, active: [["feedback"], ["index"]]
          %section.element
            = active_link_to "КОНТАКТЫ", friendly_contacts_path, active: [["contacts"], ["index"]]

        %section{class: 'secondary-nav', id: 'main', data: {secondary_nav: "main"}}
          %section.unit
            = link_to_unless_current 'о нас', root_path
          %section.unit
            = link_to_unless_current 'наши преимущества', friendly_advantages_path
          %section.unit
            = link_to_unless_current 'свадьба', friendly_wedding_path
          %section.unit
            = link_to_unless_current 'юбилей', friendly_anniversary_path
          %section.unit
            = link_to_unless_current 'корпоративное мероприятие', friendly_corporate_path
          %section.unit
            = link_to_unless_current 'выпускной вечер', friendly_prom_path

        %section{class: 'secondary-nav', id: 'halls', data: {secondary_nav: "halls"}}
          %section.unit
            = link_to_unless_current 'египетский зал', friendly_egyptian_hall_path
          %section.unit
            = link_to_unless_current 'зеркальный зал', friendly_mirror_hall_path

        %section{class: 'secondary-nav', id: 'service', data: {secondary_nav: "service"}}
          %section.unit
            = link_to_unless_current 'заказ банкета', friendly_order_path
          %section.unit
            = link_to_unless_current 'бронирование даты', friendly_reservation_path
          %section.unit
            = link_to_unless_current 'сервировка', friendly_serving_path
          %section.unit
            = link_to_unless_current 'обслуживание', friendly_service_path
          %section.unit
            = link_to_unless_current 'дополнительные услуги', friendly_additional_service_path

        %section{class: 'secondary-nav', id: 'recommendations', data: {secondary_nav: "recommendations"}}
          %section.unit
            = link_to_unless_current 'ведущие', "#"
          %section.unit
            = link_to_unless_current 'фотографы', "#"
          %section.unit
            = link_to_unless_current 'оформители', "#"
          %section.unit
            = link_to_unless_current 'кондитеры', "#"

        %section{class: 'secondary-nav', id: 'secondary-nav-substitude', data: {secondary_nav: "substitude"}}

    %section#figure
      - if content_for?(:image)
        = content_for :image
      - else
        = image_tag 'slider_substitude.jpg'

    %section#body
      = yield

    %section#footer
      %section.help
        %section.row
          %h1
            = link_to "ГЛАВНАЯ", root_path
          = link_to "о нас", root_path
          %br/
          = link_to "наши преимущеста", friendly_advantages_path
          %br/
          = link_to "свадьбы", friendly_wedding_path
          %br/
          = link_to "юбилеи", friendly_anniversary_path
          %br/
          = link_to "корпоративные мероприятия", friendly_corporate_path
          %br/
          = link_to "выпускные вечера", friendly_prom_path

        %section.row
          %h1
            = link_to "ЗАЛЫ", friendly_egyptian_hall_path
          = link_to "египетский зал", friendly_egyptian_hall_path
          %br/
          = link_to "зеркальный зал", friendly_mirror_hall_path

        %section.row
          %h1
            = link_to "НАШИ УСЛУГИ", friendly_order_path
          = link_to "заказ банкета", friendly_order_path
          %br/
          = link_to 'бронирование даты', friendly_reservation_path
          %br/
          = link_to_unless_current 'сервировка', friendly_serving_path
          %br/
          = link_to_unless_current 'обслуживание', friendly_service_path
          %br/
          = link_to_unless_current 'дополнительные услуги', friendly_additional_service_path

        %section.row
          %h1
            = link_to "НАШИ РЕКОМЕНДАЦИИ", "#"
          ведущие
          %br/
          фотографы
          %br/
          оформители
          %br/
          кондитеры

        %section.row
          %h1
            = link_to "ГАЛЕРЕЯ", friendly_gallery_path

        %section.row
          %h1
            = link_to "ОТЗЫВЫ", friendly_feedback_path

        %section.row
          %h1
            = link_to "КОНТАКТЫ", friendly_contacts_path

    = content_for(:javascript)
