!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = display_meta_tags site: 'Свадьба в Магнитогорске - Банкет-холл Клеопатра'
    %meta{name: 'yandex-verification', content: '6b3000b602aee379'}
    %meta{name: 'google-site-verification', content: 'GCZrZYqSRdvsJF5rnKhu8GauHneIL0gOYtRZvJixLSc'}

    - if Rails.env.production?
      - content_for :javascript do
        :javascript
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-6317758-13', 'banketvkleopatre.ru');
          ga('send', 'pageview');

          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter24893432 = new Ya.Metrika({id:24893432,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true});
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");

  %body{itemscope: true, itemtype: "http://schema.org/Restaurant" }
    %header#header
      %section.shell
        %section.description
          %h1 ВАШИ
          %span СВАДЬБЫ
          %i.fa.fa-square
          %span ЮБИЛЕИ
          %i.fa.fa-square
          %span ВЫПУСКНЫЕ
          %i.fa.fa-square
          %span КОРПОРАТИВЫ

        %section.logo
          = image_tag 'logo.png', alt: 'Свадьба в Магнитогорске - Банкет-холл Клеопатра', itemprop: 'image'

        %section.address{itemscope: true, itemtype: 'http://schema.org/PostalAddress', itemprop: 'address'}
          %span{itemprop: 'telephone'}
            тел. 8
            %i.fa.fa-square
            922
            %i.fa.fa-square
            754
            %i.fa.fa-square
            4440
          %div
            %span{itemprop: 'addressLocality'}
              г. Магнитогорск
            %span{itemprop: 'streetAddress'}
              %i.fa.fa-square
              ул. Советская 209а

      %section.nav
        %section.primary-nav
          %section.element
            = active_link_to "ГЛАВНАЯ", root_path, active: [["welcome"], ["index", "advantages", "wedding", "anniversary", "corporate", "prom"]]
          %section.element
            = active_link_to "ЗАЛЫ", friendly_egyptian_hall_path, active: [["halls"], ["egyptian_hall", "mirror_hall"]]
          %section.element
            %p НАШИ УСЛУГИ
          %section.element
            %p НАШИ РЕКОМЕНДАЦИИ
          %section.element
            %p ГАЛЕРЕЯ
          %section.element
            = active_link_to "ОТЗЫВЫ", friendly_feedback_path, active: [["feedback"], ["index"]]
          %section.element
            %p КОНТАКТЫ

        - if content_for?(:secondary_navigation)
          = content_for :secondary_navigation
        - else
          %section.secondary-nav-substitude

    %section#figure
      - if content_for?(:image)
        = content_for :image
      - else
        = image_tag 'slider_substitude.jpg'

    %section#body
      = yield

    %section#footer
      %section.help
        %section.row
          %h1
            = link_to "ГЛАВНАЯ", root_path
          = link_to "о нас", root_path
          %br/
          = link_to "наши преимущеста", friendly_advantages_path
          %br/
          = link_to "свадьбы", friendly_wedding_path
          %br/
          = link_to "юбилеи", friendly_anniversary_path
          %br/
          = link_to "корпоративные мероприятия", friendly_corporate_path
          %br/
          = link_to "выпускные вечера", friendly_prom_path

        %section.row
          %h1
            = link_to "ЗАЛЫ", friendly_egyptian_hall_path
          = link_to "египетский зал", friendly_egyptian_hall_path
          %br/
          = link_to "зеркальный зал", friendly_mirror_hall_path

        %section.row
          %h1
            НАШИ УСЛУГИ
          сервировка
          %br/
          дополнительные услуги
          %br/
          аренда зала
          %br/
          заказ банкета

        %section.row
          %h1
            НАШИ РЕКОМЕНДАЦИИ
          ведущие
          %br/
          фотографы
          %br/
          оформители
          %br/
          кондитеры

        %section.row
          %h1
            ГАЛЕРЕЯ

        %section.row
          %h1
            ОТЗЫВЫ

        %section.row
          %h1
            КОНТАКТЫ

    = content_for(:javascript)
