!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags site: 'Клеопатра банкет-холл', reverse: true, separator: 'on'
  %body
    %header#header
      %section.nav
        %h1 ВАШИ
        %span СВАДЬБЫ
        %i.fa.fa-square
        %span ЮБИЛЕИ
        %i.fa.fa-square
        %span ВЫПУСКНЫЕ
        %i.fa.fa-square
        %span КОРПОРАТИВЫ

      %section.logo
        = image_tag 'logo.png'

      %section.address
        тел. 8
        %i.fa.fa-square
        922
        %i.fa.fa-square
        754
        %i.fa.fa-square
        4440 
        %br/
        г. Магнитогорск
        %i.fa.fa-square
        ул. Советская 209а

    %section#body
      = yield

    %section#footer
      
