!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags site: 'Клеопатра банкет-холл', reverse: true, separator: 'on'
  %body
    %header#header
      %section.nav
        %p
          ВАШИ
        %br/
        СВАДЬБЫ
        = image_tag 'kvadrat.png'
        ЮБИЛЕИ
        = image_tag 'kvadrat.png'
        ВЫПУСКНЫЕ
        = image_tag 'kvadrat.png'
        КОРПОРАТИВЫ

      %section.logo
        = image_tag 'logo.png'

      %section.address
        тел. 8
        = image_tag 'kvadrat.png'
        922
        = image_tag 'kvadrat.png'
        754
        = image_tag 'kvadrat.png'
        4440 
        %br/
        г. Магнитогорск
        = image_tag 'kvadrat.png'
        ул. Советская 209а

    %section#body
      = yield

    %section#footer
      
